html {
  -webkit-text-size-adjust: 100%; }

body {
  font-size: 100%;
  font-family: san-serif; }

body {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif; }

main {
  font-size: 1em;
  line-height: 1.25em; }
  @media (min-width: 43.75em) {
    main {
      font-size: 1em;
      line-height: 1.375em; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0.5em 0; }

p {
  margin: 1em 0; }

h1 {
  font-size: 2em;
  line-height: 1.25em; }
  @media (min-width: 43.75em) {
    h1 {
      font-size: 2.5em;
      line-height: 1.125em; } }
  @media (min-width: 56.25em) {
    h1 {
      font-size: 3em;
      line-height: 1.05em; } }

h2 {
  font-size: 1.625em;
  line-height: 1.15384615em; }
  @media (min-width: 43.75em) {
    h2 {
      font-size: 2em;
      line-height: 1.25em; } }
  @media (min-width: 56.25em) {
    h2 {
      font-size: 2.25em;
      line-height: 1.25em; } }

h3 {
  font-size: 1.375em;
  line-height: 1.13636364em; }
  @media (min-width: 43.75em) {
    h3 {
      font-size: 1.5em;
      line-height: 1.25em; } }
  @media (min-width: 56.25em) {
    h3 {
      font-size: 1.75em;
      line-height: 1.25; } }

h4 {
  font-size: 1.125em;
  line-height: 1.11111111em; }
  @media (min-width: 43.75em) {
    h4 {
      line-height: 1.22222222em; } }

@media (min-width: 43.75em) {
  p {
    max-width: 38em; } }

article.intro {
  margin: 2em 0; }
  article.intro header a {
    text-decoration: none; }
  article.intro .meta {
    font-size: 0.9em;
    font-weight: 400;
    color: #323232;
    text-align: right;
    display: block; }
  article.intro .tags a {
    color: #000;
    text-decoration: none;
    font-size: 0.85em;
    text-transform: uppercase;
    margin: 1px; }

.page {
  padding-top: 20px; }

.menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000; }
  .menu .fa-bars {
    color: #fff;
    font-size: 1.2em;
    margin: 14px; }
  @media (min-width: 43.75em) {
    .menu {
      display: none; } }

.menu-items {
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden; }
  .menu-items li {
    padding: 1em; }
  .menu-items a {
    color: #fff;
    text-decoration: none;
    font-weight: 300; }

.button {
  font-size: 0.95em;
  display: block;
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: #37c0fb;
  border: 0;
  margin: 20px 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 0 1.5em;
  line-height: 2.75em;
  min-width: 9em;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: -0.025em;
  box-sizing: border-box; }

body {
  margin: 0;
  padding-top: 44px; }

a {
  color: #D35C4A; }

h3 a {
  color: #121320; }

main {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 81.25em) {
    main {
      width: 75%; } }

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  text-align: center; }

.banner {
  height: 17em;
  padding: 20px;
  position: relative; }

.banner header {
  height: 125px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.9);
  padding: 20px;
  text-align: center; }
.banner h3 {
  text-align: center;
  color: #fff;
  margin: 0;
  letter-spacing: 0;
  font-size: 1.2em;
  font-weight: 300;
  opacity: 0.9; }
.banner em {
  font-style: normal;
  font-weight: 300;
  opacity: 0.75; }

.footer {
  margin-top: 2em; }

.about, .copy {
  padding: 0.4em 1.2em;
  color: white;
  font-weight: 100; }
  @media (min-width: 43.75em) {
    .about, .copy {
      padding: 10px 20px; } }

.about {
  background-color: #1293d0; }

.copy {
  background-color: #206F8F; }

.icon {
  height: 35px;
  position: absolute;
  bottom: 10px;
  right: 5px; }
  .icon img {
    display: block;
    max-height: 100%; }

.logo {
  padding: 12px 2.5%;
  background-color: #333;
  box-shadow: 0 4px 0 0 #37c0fb; }
  .logo h1 {
    display: block;
    width: 69%;
    margin: 0 auto;
    text-align: center;
    font-family: 'source sans pro' sans-serif;
    font-weight: 600;
    font-size: 1.2em; }
    .logo h1 a {
      color: #fff;
      text-decoration: none; }
    @media (min-width: 43.75em) {
      .logo h1 {
        display: none; } }

/*# sourceMappingURL=main.css.map */
