html {
  -webkit-text-size-adjust: 100%; }

body {
  font-size: 100%;
  font-family: san-serif; }

body {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif; }

hr {
  display: none; }

blockquote {
  margin: 1em; }

ul {
  margin: 0;
  padding: 0 1.2em; }

main {
  font-size: 1em;
  line-height: 1.25em; }
  @media (min-width: 43.75em) {
    main {
      font-size: 1em;
      line-height: 1.375em; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0.5em 0; }

p {
  margin: 1em 0; }

h1 {
  font-size: 2em;
  line-height: 1.25em; }
  @media (min-width: 43.75em) {
    h1 {
      font-size: 2.5em;
      line-height: 1.125em; } }
  @media (min-width: 56.25em) {
    h1 {
      font-size: 3em;
      line-height: 1.05em; } }

h2 {
  font-size: 1.625em;
  line-height: 1.15384615em; }
  @media (min-width: 43.75em) {
    h2 {
      font-size: 2em;
      line-height: 1.25em; } }
  @media (min-width: 56.25em) {
    h2 {
      font-size: 2.25em;
      line-height: 1.25em; } }

h3 {
  font-size: 1.375em;
  line-height: 1.13636364em; }
  @media (min-width: 43.75em) {
    h3 {
      font-size: 1.5em;
      line-height: 1.25em;
      margin-top: 1em; } }
  @media (min-width: 56.25em) {
    h3 {
      font-size: 1.75em;
      line-height: 1.25; } }

h4 {
  font-size: 1.125em;
  line-height: 1.11111111em; }
  @media (min-width: 43.75em) {
    h4 {
      line-height: 1.22222222em; } }

@media (min-width: 43.75em) {
  p {
    max-width: 38em; } }

article {
  padding-top: 1.25em; }
  @media (min-width: 43.75em) {
    article {
      padding: 1em 0;
      border-bottom: 1px solid #ddd; } }
  @media (min-width: 43.75em) {
    article h2 {
      margin-top: 1em; } }

.article-detail section > p:first-child {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2em;
  margin-bottom: 2em; }

article.intro header a {
  text-decoration: none; }
article.intro .meta {
  font-size: 0.9em;
  font-weight: 400;
  color: #323232;
  text-align: right;
  display: block; }
article.intro .tags a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 1px;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.65em;
  letter-spacing: 1px; }

.article-detail {
  padding-top: 64px; }

aside {
  display: none; }
  @media (min-width: 43.75em) {
    aside {
      width: 38%;
      float: right;
      display: block; } }
  aside .side {
    height: 600px;
    margin: 3em 0 0 3em; }

.page {
  padding-top: 20px; }

.menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000; }
  .menu .fa-bars {
    color: #fff;
    font-size: 1.2em;
    margin: 14px; }
  @media (min-width: 43.75em) {
    .menu {
      display: none; } }

.menu-items {
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden; }
  .menu-items li {
    padding: 1em; }
  .menu-items a {
    color: #fff;
    text-decoration: none;
    font-weight: 300; }

.button {
  font-size: 0.95em;
  display: block;
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: #37c0fb;
  border: 0;
  margin: 20px 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 0 1.5em;
  line-height: 2.75em;
  min-width: 9em;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: -0.025em;
  box-sizing: border-box; }

body {
  margin: 0;
  padding-top: 44px; }
  @media (min-width: 43.75em) {
    body {
      padding-top: 84px; } }

a {
  color: #D35C4A; }

h3 a {
  color: #121320; }

main {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 43.75em) {
    main {
      width: 62%;
      margin-right: -100%;
      box-sizing: border-box;
      float: left;
      clear: left; } }

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  text-align: center; }

.banner {
  height: 17em;
  padding: 20px;
  position: relative; }
  @media (min-width: 43.75em) {
    .banner {
      display: none; } }

.banner header {
  height: 125px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.9);
  padding: 20px;
  text-align: center; }
.banner h3 {
  text-align: center;
  color: #fff;
  margin: 0;
  letter-spacing: 0;
  font-size: 1.2em;
  font-weight: 300;
  opacity: 0.9; }
.banner em {
  font-style: normal;
  font-weight: 300;
  opacity: 0.75; }

.wrapper {
  overflow: hidden;
  max-width: 900px; }
  @media (min-width: 43.75em) {
    .wrapper {
      width: 85%;
      margin: 0 auto; } }

.footer {
  margin-top: 2em;
  border-top: 2px solid #206f8f; }
  .footer .social {
    font-size: 1.6em;
    display: block;
    text-align: center; }
    .footer .social i {
      margin: 0.5em; }

.about, .copy {
  padding: 0.4em 1.2em;
  color: white;
  font-weight: 100;
  text-align: center; }
  @media (min-width: 43.75em) {
    .about, .copy {
      padding: 10px 20px; }
      .about small, .copy small {
        max-width: 660px;
        font-weight: 300;
        opacity: 0.8;
        margin: 0 auto;
        display: block; } }

.about {
  background-color: #1293d0; }

.about-me {
  text-align: center;
  border: 1px solid #bcbcbc;
  box-sizing: border-box;
  padding: 1.2em;
  border-radius: 5px; }
  .about-me h3 {
    font-size: 1.25em; }

.copy {
  background-color: #206F8F; }

.icon {
  height: 35px;
  position: absolute;
  bottom: 10px;
  right: 5px; }
  .icon img {
    display: block;
    max-height: 100%; }

.logo {
  padding: 12px 2.5%;
  background-color: #333;
  box-shadow: 0 4px 0 0 #37c0fb; }
  @media (min-width: 43.75em) {
    .logo {
      height: 60px; } }
  .logo h1 {
    display: block;
    width: 69%;
    margin: 0 auto;
    text-align: center;
    font-family: 'source sans pro' sans-serif;
    font-weight: 600;
    font-size: 1.2em; }
    .logo h1 a {
      color: #fff;
      text-decoration: none; }
    @media (min-width: 43.75em) {
      .logo h1 {
        display: none; } }

/*# sourceMappingURL=main.css.map */
