.menu {
	position : absolute;
	right: 0; top: 0;
	
	.fa-bars {
		color: #fff;
		font-size: 1.3em;
		margin: 12px;
	}
}

.menu-items {
	height: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: rgba(0,0,0,0.5);
	overflow:hidden;

	li {
		padding: 1em;
	}

	a {
		color: #fff;
		text-decoration: none;
		font-weight: 300;
	}
}