@import 'base';
@import 'article';
@import 'page';
@import 'menu';
@import 'button';

body {
	margin: 0;
	padding-top: 44px;

	@media (min-width: 43.75em) {
		padding-top: 84px;
	}
}

a {
	color: #D35C4A;
}

h3 a {
	color: #121320;
}

main {
	width: 90%;
	margin: 0 auto;

	@media (min-width: 43.75em) {
		width: 62%;
		margin-right: -100%;
		box-sizing: border-box;
		float: left;
		clear: left;
	}
}

aside {
	display: none;

	@media (min-width: 43.75em) {
		height: 1000px;
		width: 38%;
		float: right;
		display: block;
	}
}

.header {
	position: fixed; top: 0; right: 0; left: 0; z-index: 1;
	text-align: center;
}

.banner {
	height: 17em;
	padding: 20px;
	position: relative;

	@media (min-width: 43.75em) {
		display: none;
	}
}

.banner {
	header {
		height: 125px;
		position: absolute; bottom: 0; left: 0; right: 0;
		background-color: rgba(33,33,33,0.9);
		padding: 20px;
		text-align: center;
	}

	h3 {
		text-align: center;
		color: #fff;
		margin: 0;
		letter-spacing: 0;
		font-size: 1.2em;
		font-weight: 300;
		opacity: 0.9;
	}

	em {
		font-style: normal;
		font-weight: 300;
		opacity: 0.75;
	}
}

.wrapper {
	overflow:hidden;
	max-width: 900px;

	@media (min-width: 43.75em) {
		width: 85%;
		margin: 0 auto;
	}
}

.footer {
	margin-top: 2em;
	border-top: 2px solid rgb(32, 111, 143);

	.social {
		font-size: 1.6em;
		display: block;
		text-align: center;

		i {
			margin: 0.5em;
		}
	}
}

.about, .copy {
	padding: 0.4em 1.2em;
	color: white;
	font-weight: 100;
	text-align: center;


	@media (min-width: 43.75em) {
		padding: 10px 20px;
		small {
			max-width: 660px;
			font-weight: 300;
			opacity: 0.8;
			margin : 0 auto;
			display: block;
		}
	}
}

.about {
	background-color: rgb(18, 147, 208);
}

.copy {
	background-color: #206F8F;
}

.icon {
	height: 35px;
	position: absolute;
	bottom: 10px;
	right: 5px;

	img {
		display: block;
		max-height: 100%;
	}
}

.logo {
	padding: 12px 2.5%;
	background-color: #333;
	box-shadow: 0 4px 0 0 #37c0fb;

	@media (min-width: 43.75em) {
		height: 60px;
	}

	h1 {
		display: block;
		width: 69%;
		margin: 0 auto;
		text-align: center;
		font-family: 'source sans pro' sans-serif;
		font-weight: 600;
		font-size: 1.2em;

		a {
			color: #fff;
			text-decoration: none;
		}

		@media (min-width: 43.75em) {
			display : none;
		}
	}
}