@import 'base';
@import 'article';
@import 'menu';

body {
	margin: 0;
}

h3 a {
	color: #121320;
}

.wrapper {
	width: 95%;
	margin: 0 auto;
}

.header {
	height: 200px;
	background: #A9C6CC url(http://tinyurl.com/kyghspr) no-repeat;
	background-size: contain;
	background-position-y: 32px;
	background-position-x: 50%;
	position: relative;

	@media (min-width: 43.75em) {
		background-position-x: 3.8%;
	}
}

.about, .copy {
	padding: 2.8%;
	color: white;
	font-weight: 100;	
}

.about {
	background-color: rgb(18, 147, 208);
}

.copy {
	background-color: #206F8F;
}

.icon {
	height: 35px;
	position: absolute;
	bottom: 10px;
	right: 5px;

	img {
		display: block;
		max-height: 100%;
	}
}

.logo {
	padding: 8px 2.5%;
	background-color: rgb(41, 87, 104);

	h1 {
		display: block;
		width: 69%;
		margin: 0 auto;
		color: #fff;
		text-align: center;
		font-weight: 300;
		font-size: 1.4em;
		letter-spacing: -1px;
	}
}